@{
    ViewBag.Title = "IndexAjax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="my-table" class="table table-responsive table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Age</th>
        <th>Member Card</th>
        <th>Telephone</th>
        <th>IsSubscribed</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#my-table").DataTable({
                ajax: {
                    url: "/api/clientsapi",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name"
                    }, {
                        data: "Address"
                    }, {
                        data: "Age"
                    }, {
                        data: "MemberCard"
                    }, {
                        data: "Telephone"
                    }, {
                        data: "IsSubscribed",
                        render: function(data, type, client) {
                            var status = client.IsSubscribed;
                            if (status)
                                return "<input type=checkbox disabled checked>";
                            else
                                return "<input type=checkbox disabled>";
                        }
                    }, {
                        data: "",
                        render: function(data, type, client) {
                            var id = client.Id;
                            var urlEdit = "/ClientsNew/Edit/" + id;
                            var urlDetails = "/ClientsNew/Details/" + id;

                            return "<a href='" +
                                urlEdit +
                                "'>Edit</a> | <a href='" +
                                urlDetails +
                                "'>Details</a> |<button class='btn-link js-delete' data-client-id='" +
                                id +
                                "'>Delete</button>";
                        }
                    }
                ]
            });

            $("body").on("click", ".js-delete",
                function() {
                    var button = $(this);
                    var url = "/api/ClientsApi/" + button.attr("data-client-id");
                    console.log(url);
                    $.ajax({
                        url: url,
                        method: "DELETE",
                        success: function() {
                            var parent = button.parents("tr");
                            $(parent).fadeOut("slow",
                                function() {
                                    table.row(parent).remove().draw();
                                });
                        }
                    });
                });
        });
    </script>
}